head {
background-color: #ffffff;
border: #cccccc;
}
h2 {
    font-size: 40 px;
    text-align: left;

}

body {
font: 40px;
background-color: lightgreen;
border-style: double;
float: righ;
}
.about-me {
    text-align: left;
    font-size: 40px;
    color: blue
}
p {
    text-align: left;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 80px;
  }
img {
    margin-bottom: -15px;
    margin-right: 10px;
}

    button:hover {
        background: grey;
        color: lime;
        border: 8px blueviolet;
        cursor: pointer;
    }

    nav {
        text-align: right;
        
    }

.name {
        float: left;
    }
.links {
        margin-top: center;
    }
.container {
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 40px;
     text-align: center;
     border-spacing: 15px;
}

.a {
  border: 8px solid red;
  background-color: teal;
  width: 1500px;
  font-size: 35px;
  text-align: center;
box-sizing: border-box;
   
}
.portfolio {
    text-align: center;
    
}